$base-color: #005C8C;
$icon-color: #fff;
$highlight-color: #21678C;
$notification-color: #e1a948;
$button-color: #e1a948;

$menu-submenu-text: #e2ecf1;
$menu-submenu-focus-text: #fff;
$menu-submenu-background: #0085CA;
