.wp-core-ui .button-primary:hover, .wp-core-ui .button-primary:focus {
    background: #e1a948;
    border-color: #bd831f;
    color: #fff;
    box-shadow: 0 1px 0 #bd831f;
}
.wp-core-ui .button-primary:active, .wp-core-ui .button-primary.active, .wp-core-ui .button-primary.active:focus, .wp-core-ui .button-primary.active:hover {
    background: #d39323;
    border-color: #bd831f;
    box-shadow: inset 0 2px 0 #bd831f;
}
.wp-core-ui .button-primary:disabled, .wp-core-ui .button-primary.button-primary-disabled, .wp-core-ui .button-primary.disabled, .wp-core-ui .button-primary[disabled] {
    color: #d1cdc7 !important;
    background: #db9925 !important;
    border-color: #bd831f !important;
    text-shadow: none !important;
}
body {
    background: #f1f1f1;
}
body.more-filters-opened .more-filters {
    color: #fff;
    background-color: #31659c;
}
body.more-filters-opened .more-filters:before {
    color: #fff;
}
body.more-filters-opened .more-filters:hover {
    background-color: #639ace;
    color: #fff;
}
body.more-filters-opened .more-filters:hover:before {
    color: #fff;
}
body.more-filters-opened .more-filters:focus {
    background-color: #639ace;
    color: #fff;
}
body.more-filters-opened .more-filters:focus:before {
    color: #fff;
}
a {
    color: #0073aa;
}
a:hover {
    color: #0096dd;
}
a:active {
    color: #0096dd;
}
a:focus {
    color: #0096dd;
}
div.dashboard-widget-submit input:hover {
    color: #0096dd;
}
div#wp-responsive-toggle a:before {
    color: #e5f8ff;
}
.wp-core-ui input[type="reset"]:hover {
    color: #0096dd;
}
.wp-core-ui input[type="reset"]:active {
    color: #0096dd;
}
.wp-core-ui .button-primary {
    background: #e1a948;
    border-color: #d39323 #bd831f #bd831f;
    color: #fff;
    box-shadow: 0 1px 0 #bd831f;
    text-shadow: 0 -1px 1px #bd831f, 1px 0 1px #bd831f, 0 1px 1px #bd831f, -1px 0 1px #bd831f;
}
.wp-core-ui .button-primary:focus {
    box-shadow: inset 0 1px 0 #d39323, 0 0 2px 1px #33b3db;
}
.wp-core-ui .button-primary.button-hero {
    box-shadow: 0 2px 0 #bd831f !important;
}
.wp-core-ui .button-primary.button-hero:active {
    box-shadow: inset 0 3px 0 #bd831f !important;
}
.wp-core-ui .wp-ui-primary {
    color: #fff;
    background-color: #31659c;
}
.wp-core-ui .wp-ui-text-primary {
    color: #31659c;
}
.wp-core-ui .wp-ui-highlight {
    color: #fff;
    background-color: #639ace;
}
.wp-core-ui .wp-ui-text-highlight {
    color: #639ace;
}
.wp-core-ui .wp-ui-notification {
    color: #fff;
    background-color: #e1a948;
}
.wp-core-ui .wp-ui-text-notification {
    color: #e1a948;
}
.wp-core-ui .wp-ui-text-icon {
    color: #e5f8ff;
}
.wrap .add-new-h2:hover {
    color: #fff;
    background-color: #31659c;
}
.wrap .page-title-action:hover {
    color: #fff;
    background-color: #31659c;
}
#adminmenuback {
    background: #31659c;
}
#adminmenuwrap {
    background: #31659c;
}
#adminmenu {
    background: #31659c;
}
#adminmenu a {
    color: #fff;
}
#adminmenu a:hover {
    color: #fff;
    background-color: #639ace;
}
#adminmenu a.wp-has-current-submenu:focus + .wp-submenu {
    background: #4a79a5;
}
#adminmenu a.wp-has-current-submenu:focus + .wp-submenu a {
    color: #e2ecf1;
}
#adminmenu a.wp-has-current-submenu:focus + .wp-submenu a:focus {
    color: #fff;
}
#adminmenu a.wp-has-current-submenu:focus + .wp-submenu a:hover {
    color: #fff;
}
#adminmenu a.wp-has-current-submenu:focus + .wp-submenu li.current a {
    color: #fff;
}
#adminmenu a.wp-has-current-submenu:focus + .wp-submenu li.current a:hover {
    color: #fff;
}
#adminmenu a.wp-has-current-submenu:focus + .wp-submenu li.current a:focus {
    color: #fff;
}
#adminmenu a.current:hover div.wp-menu-image:before {
    color: #fff;
}
#adminmenu li.opensub > a.menu-top {
    color: #fff;
    background-color: #639ace;
}
#adminmenu li.opensub > a.menu-top div.wp-menu-image:before {
    color: #fff;
}
#adminmenu li.opensub div.wp-menu-image:before {
    color: #fff;
}
#adminmenu li.wp-has-current-submenu a.wp-has-current-submenu {
    color: #fff;
    background: #639ace;
}
#adminmenu li.wp-has-current-submenu a:focus div.wp-menu-image:before {
    color: #fff;
}
#adminmenu li.wp-has-current-submenu .wp-submenu .wp-submenu-head {
    color: #fff;
    background: #639ace;
}
#adminmenu li.wp-has-current-submenu div.wp-menu-image:before {
    color: #fff;
}
#adminmenu li.wp-has-current-submenu.opensub div.wp-menu-image:before {
    color: #fff;
}
#adminmenu li:hover div.wp-menu-image:before {
    color: #fff;
}
#adminmenu li:hover a .awaiting-mod {
    color: #fff;
    background: #4a79a5;
}
#adminmenu li a:focus div.wp-menu-image:before {
    color: #fff;
}
#adminmenu li a.wp-has-current-submenu .update-plugins {
    color: #fff;
    background: #4a79a5;
}
#adminmenu li.menu-top:hover {
    color: #fff;
    background-color: #639ace;
}
#adminmenu li.menu-top:hover div.wp-menu-image:before {
    color: #fff;
}
#adminmenu li.menu-top:hover > a .update-plugins {
    color: #fff;
    background: #4a79a5;
}
#adminmenu li > a.menu-top:focus {
    color: #fff;
    background-color: #639ace;
}
#adminmenu li.wp-has-submenu.wp-not-current-submenu.opensub:hover:after {
    border-right-color: #4a79a5;
}
#adminmenu li.current a.menu-top {
    color: #fff;
    background: #639ace;
}
#adminmenu li.current a .awaiting-mod {
    color: #fff;
    background: #4a79a5;
}
#adminmenu .wp-submenu {
    background: #4a79a5;
}
#adminmenu .wp-submenu .wp-submenu-head {
    color: #e2ecf1;
}
#adminmenu .wp-submenu a {
    color: #e2ecf1;
}
#adminmenu .wp-submenu a:focus {
    color: #fff;
}
#adminmenu .wp-submenu a:hover {
    color: #fff;
}
#adminmenu .wp-submenu li.current a {
    color: #fff;
}
#adminmenu .wp-submenu li.current a:hover {
    color: #fff;
}
#adminmenu .wp-submenu li.current a:focus {
    color: #fff;
}
#adminmenu .wp-has-current-submenu .wp-submenu {
    background: #4a79a5;
}
#adminmenu .wp-has-current-submenu .wp-submenu a {
    color: #e2ecf1;
}
#adminmenu .wp-has-current-submenu .wp-submenu a:focus {
    color: #fff;
}
#adminmenu .wp-has-current-submenu .wp-submenu a:hover {
    color: #fff;
}
#adminmenu .wp-has-current-submenu.opensub .wp-submenu {
    background: #4a79a5;
}
#adminmenu .wp-has-current-submenu.opensub .wp-submenu a {
    color: #e2ecf1;
}
#adminmenu .wp-has-current-submenu.opensub .wp-submenu a:focus {
    color: #fff;
}
#adminmenu .wp-has-current-submenu.opensub .wp-submenu a:hover {
    color: #fff;
}
#adminmenu .wp-has-current-submenu.opensub .wp-submenu li.current a {
    color: #fff;
}
#adminmenu .wp-has-current-submenu.opensub .wp-submenu li.current a:hover {
    color: #fff;
}
#adminmenu .wp-has-current-submenu.opensub .wp-submenu li.current a:focus {
    color: #fff;
}
#adminmenu .awaiting-mod {
    color: #fff;
    background: #e1a948;
}
#adminmenu .update-plugins {
    color: #fff;
    background: #e1a948;
}
#adminmenu div.wp-menu-image:before {
    color: #e5f8ff;
}
.nav-tab-active {
    background-color: #f1f1f1;
    border-bottom-color: #f1f1f1;
}
.nav-tab-active:hover {
    background-color: #f1f1f1;
    border-bottom-color: #f1f1f1;
}
#collapse-button {
    color: #e5f8ff;
}
#collapse-button:hover {
    color: #fff;
}
#collapse-button:focus {
    color: #fff;
}
#wpadminbar {
    color: #fff;
    background: #31659c;
}
#wpadminbar .ab-item {
    color: #fff;
}
#wpadminbar .ab-item:before {
    color: #e5f8ff;
}
#wpadminbar .ab-item:after {
    color: #e5f8ff;
}
#wpadminbar .ab-icon {
    color: #e5f8ff;
}
#wpadminbar .ab-icon:before {
    color: #e5f8ff;
}
#wpadminbar.nojs .ab-top-menu > li.menupop:hover > .ab-item {
    color: #fff;
    background: #4a79a5;
}
#wpadminbar.nojs .quicklinks .menupop:hover ul li a {
    color: #e2ecf1;
}
#wpadminbar.nojs .quicklinks .menupop:hover ul li a:hover {
    color: #fff;
}
#wpadminbar.nojs .quicklinks .menupop:hover ul li a:focus {
    color: #fff;
}
#wpadminbar .ab-top-menu > li.menupop.hover > .ab-item {
    color: #fff;
    background: #4a79a5;
}
#wpadminbar .ab-top-menu > #wp-admin-bar-recovery-mode.hover > .ab-item {
    color: #fff;
    background-color: #cb9841;
}
#wpadminbar .menupop .ab-sub-wrapper {
    background: #4a79a5;
}
#wpadminbar .menupop .menupop > .ab-item:before {
    color: #e5f8ff;
}
#wpadminbar .menupop .menupop > .ab-item:hover:before {
    color: #fff;
}
#wpadminbar .quicklinks .menupop ul.ab-sub-secondary {
    background: #74b6ce;
}
#wpadminbar .quicklinks .menupop ul.ab-sub-secondary .ab-submenu {
    background: #74b6ce;
}
#wpadminbar .quicklinks .menupop ul li a {
    color: #e2ecf1;
}
#wpadminbar .quicklinks .menupop ul li a:hover {
    color: #fff;
}
#wpadminbar .quicklinks .menupop ul li a:hover strong {
    color: #fff;
}
#wpadminbar .quicklinks .menupop ul li a:focus {
    color: #fff;
}
#wpadminbar .quicklinks .menupop ul li a:focus strong {
    color: #fff;
}
#wpadminbar .quicklinks .menupop.hover ul li a {
    color: #e2ecf1;
}
#wpadminbar .quicklinks .menupop.hover ul li a:hover {
    color: #fff;
}
#wpadminbar .quicklinks .menupop.hover ul li a:focus {
    color: #fff;
}
#wpadminbar .quicklinks li .blavatar {
    color: #e5f8ff;
}
#wpadminbar .quicklinks li a:hover .blavatar {
    color: #fff;
}
#wpadminbar .quicklinks li a:focus .blavatar {
    color: #fff;
}
#wpadminbar .quicklinks li#wp-admin-bar-my-account.with-avatar > a img {
    border-color: #6eb9d4;
    background-color: #6eb9d4;
}
#wpadminbar .quicklinks .ab-sub-wrapper .menupop.hover > a {
    color: #fff;
}
#wpadminbar .quicklinks .ab-sub-wrapper .menupop.hover > a .blavatar {
    color: #fff;
}
#wpadminbar li:hover .ab-icon:before {
    color: #fff;
}
#wpadminbar li:hover .ab-item:before {
    color: #fff;
}
#wpadminbar li:hover #adminbarsearch:before {
    color: #fff;
}
#wpadminbar li.hover .ab-icon:before {
    color: #fff;
}
#wpadminbar li.hover .ab-item:before {
    color: #fff;
}
#wpadminbar li a:focus .ab-icon:before {
    color: #fff;
}
#wpadminbar li .ab-item:focus:before {
    color: #fff;
}
#wpadminbar li .ab-item:focus .ab-icon:before {
    color: #fff;
}
#wpadminbar li #adminbarsearch.adminbar-focused:before {
    color: #fff;
}
#wpadminbar #wp-admin-bar-recovery-mode {
    color: #fff;
    background-color: #e1a948;
}
#wpadminbar #wp-admin-bar-recovery-mode .ab-item {
    color: #fff;
}
#wpadminbar #wp-admin-bar-recovery-mode a.ab-item {
    color: #fff;
}
#wpadminbar #wp-admin-bar-user-info .display-name {
    color: #fff;
}
#wpadminbar #wp-admin-bar-user-info .username {
    color: #e2ecf1;
}
#wpadminbar #wp-admin-bar-user-info a:hover .display-name {
    color: #fff;
}
#wpadminbar a.ab-item {
    color: #fff;
}
#wpadminbar > #wp-toolbar span.ab-label {
    color: #fff;
}
#wpadminbar > #wp-toolbar span.noticon {
    color: #fff;
}
#wpadminbar > #wp-toolbar > #wp-admin-bar-top-secondary > #wp-admin-bar-search #adminbarsearch input.adminbar-input:focus {
    color: #fff;
    background: #6eb9d4;
}
#wpadminbar:not(.mobile) .ab-top-menu > li:hover > .ab-item {
    color: #fff;
    background: #4a79a5;
}
#wpadminbar:not(.mobile) .ab-top-menu > li > .ab-item:focus {
    color: #fff;
    background: #4a79a5;
}
#wpadminbar:not(.mobile) .ab-top-menu > #wp-admin-bar-recovery-mode:hover > .ab-item {
    color: #fff;
    background-color: #cb9841;
}
#wpadminbar:not(.mobile) .ab-top-menu > #wp-admin-bar-recovery-mode > .ab-item:focus {
    color: #fff;
    background-color: #cb9841;
}
#wpadminbar:not(.mobile) > #wp-toolbar li:hover span.ab-label {
    color: #fff;
}
#wpadminbar:not(.mobile) > #wp-toolbar li.hover span.ab-label {
    color: #fff;
}
#wpadminbar:not(.mobile) > #wp-toolbar a:focus span.ab-label {
    color: #fff;
}
#wpadminbar:not(.mobile) li:hover .ab-item:before {
    color: #fff;
}
#wpadminbar:not(.mobile) li:hover .ab-item:after {
    color: #fff;
}
#wpadminbar:not(.mobile) li:hover .ab-icon:before {
    color: #fff;
}
#wpadminbar:not(.mobile) li:hover #adminbarsearch:before {
    color: #fff;
}
#wpadminbar.nojq .quicklinks .ab-top-menu > li > .ab-item:focus {
    color: #fff;
    background: #4a79a5;
}
#wpadminbar.nojq .quicklinks .ab-top-menu > #wp-admin-bar-recovery-mode > .ab-item:focus {
    color: #fff;
    background-color: #cb9841;
}
#wpadminbar .ab-submenu .ab-item {
    color: #e2ecf1;
}
#wpadminbar.mobile .quicklinks .hover .ab-icon:before {
    color: #e5f8ff;
}
#wpadminbar.mobile .quicklinks .hover .ab-item:before {
    color: #e5f8ff;
}
#wpadminbar.mobile .quicklinks .ab-icon:before {
    color: #fff;
}
#wpadminbar.mobile .quicklinks .ab-item:before {
    color: #fff;
}
#wpadminbar #adminbarsearch:before {
    color: #e5f8ff;
}
.wp-pointer.wp-pointer-top .wp-pointer-arrow {
    border-bottom-color: #639ace;
}
.wp-pointer.wp-pointer-top .wp-pointer-arrow-inner {
    border-bottom-color: #639ace;
}
.wp-pointer.wp-pointer-undefined .wp-pointer-arrow {
    border-bottom-color: #639ace;
}
.wp-pointer.wp-pointer-undefined .wp-pointer-arrow-inner {
    border-bottom-color: #639ace;
}
.wp-pointer .wp-pointer-content h3 {
    background-color: #639ace;
    border-color: #07526c;
}
.wp-pointer .wp-pointer-content h3:before {
    color: #639ace;
}
.wp-responsive-open div#wp-responsive-toggle a {
    border-color: transparent;
    background: #639ace;
}
.wp-responsive-open #wpadminbar #wp-admin-bar-menu-toggle a {
    background: #4a79a5;
}
.wp-responsive-open #wpadminbar #wp-admin-bar-menu-toggle .ab-icon:before {
    color: #e5f8ff;
}
#media-upload a.del-link:hover {
    color: #0096dd;
}
.subsubsub a:hover {
    color: #0096dd;
}
.subsubsub a.current:hover {
    color: #0096dd;
}
input[type=checkbox]:checked:before {
    color: #639ace;
}
input[type=radio]:checked:before {
    background: #639ace;
}
.view-switch a.current:before {
    color: #31659c;
}
.view-switch a:hover:before {
    color: #e1a948;
}
.about-wrap .nav-tab-active {
    background-color: #f1f1f1;
    border-bottom-color: #f1f1f1;
}
.folded #adminmenu .wp-has-current-submenu .wp-submenu {
    background: #4a79a5;
}
.folded #adminmenu .wp-has-current-submenu .wp-submenu a {
    color: #e2ecf1;
}
.folded #adminmenu .wp-has-current-submenu .wp-submenu a:focus {
    color: #fff;
}
.folded #adminmenu .wp-has-current-submenu .wp-submenu a:hover {
    color: #fff;
}
.folded #adminmenu li.current.menu-top {
    color: #fff;
    background: #639ace;
}
ul#adminmenu a.wp-has-current-submenu:after {
    border-right-color: #f1f1f1;
}
ul#adminmenu > li.current > a.current:after {
    border-right-color: #f1f1f1;
}
.ie8 #adminmenu li.opensub div.wp-menu-image:before {
    color: #fff;
}
.media-item .bar {
    background-color: #639ace;
}
.media-progress-bar div {
    background-color: #639ace;
}
.details.attachment {
    box-shadow: inset 0 0 0 3px #fff, inset 0 0 0 7px #639ace;
}
.attachment.details .check {
    background-color: #639ace;
    box-shadow: 0 0 0 1px #fff, 0 0 0 2px #639ace;
}
.media-selection .attachment.selection.details .thumbnail {
    box-shadow: 0 0 0 1px #fff, 0 0 0 3px #639ace;
}
.theme-browser .theme.active .theme-name {
    background: #639ace;
}
.theme-browser .theme.add-new-theme a:hover:after {
    background: #639ace;
}
.theme-browser .theme.add-new-theme a:hover span:after {
    color: #639ace;
}
.theme-browser .theme.add-new-theme a:focus:after {
    background: #639ace;
}
.theme-browser .theme.add-new-theme a:focus span:after {
    color: #639ace;
}
.theme-section.current {
    border-bottom-color: #31659c;
}
.theme-filter.current {
    border-bottom-color: #31659c;
}
.widgets-chooser li.widgets-chooser-selected {
    background-color: #639ace;
    color: #fff;
}
.widgets-chooser li.widgets-chooser-selected:before {
    color: #fff;
}
.widgets-chooser li.widgets-chooser-selected:focus:before {
    color: #fff;
}
.mce-container.mce-menu .mce-menu-item:hover {
    background: #639ace;
}
.mce-container.mce-menu .mce-menu-item.mce-selected {
    background: #639ace;
}
.mce-container.mce-menu .mce-menu-item:focus {
    background: #639ace;
}
.mce-container.mce-menu .mce-menu-item-normal.mce-active {
    background: #639ace;
}
.mce-container.mce-menu .mce-menu-item-preview.mce-active {
    background: #639ace;
}
 