body.login div#login h1 a {
    background-image: url( <?=(MILBAR_BRANDING_PLUGIN_URL . 'assets/images/logo-small.png')?> );
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    width: 300px;
}
*:focus {
    outline: #0085ca auto 5px;
}

@media screen and (min-width: 1024px) {
    html {
        overflow: hidden;
    }
    body {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 50%;
        padding-left: 50% !important;
        position: relative;
    }
    body:before {
        content: '';
        background: url(<?=(MILBAR_BRANDING_PLUGIN_URL . 'assets/images/login-bg.jpg')?> );
        display: block;
        width: 50%;
        position: absolute;
        height: 100vh;
        left: 0;
        top: 0;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;

    }
}
.login form{
    background: transparent !important;
    box-shadow: none !important;
    padding: 0 !important;
    margin-bottom: 15px !important;
}

.login form input[type=text],
.login form input[type=password] {
    background: transparent !important;
    border: 0 !important;
    box-shadow: none !important;
    border-bottom: 1px solid !important;
}

.login form input[type=text]:focus,
.login form input[type=password]:focus {
    outline: none !important;
    box-shadow: none !important;
    border-bottom: 2px solid #0085ca !important;
}

.login form input[type=submit] {
    border-radius: 0 !important;
    background-color: #0085ca !important;
    border-color: #0085ca !important;
}

.login #nav, .login #backtoblog{
    margin: 0 !important;
    padding: 0 !important;
    display: inline-block !important;
}

.login #nav{
    float: right !important;
}
.login #backtoblog{
    float: left !important;
}