@media (min-width: 992px) {

    body.login {
        min-height: 100vh;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #login {
        padding: 0;
        transform: translateY(-100px);
    }
}

@media (max-width: 375px) {
    #login {
        margin-left: 10px;
        margin-right: 10px;
        width: calc(100% - 20px);
    }
}

#login {
    max-width: 100%;
}

#login h1 {
    margin-bottom: 16px;
}

#login h1 a {
    background-image: url('../images/logo-color.svg') !important;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    margin-bottom: 0;
    height: 84px;
    width: 84px;
}

*:focus {
    border: 0 !important;
    box-shadow: 0 0 0 0 transparent !important;
    outline: 0 solid transparent !important;
}

#login form {
    background: transparent;
    box-shadow: none;
    padding: 0;
    margin-bottom: 15px;
    border: 0;
}

#login form.shake {
    animation-iteration-count: 0 !important;
}

#login form input {
    border-radius: 0;
}

#login form input[type=text],
#login form input[type=password] {
    background: transparent;
    box-shadow: none;
    border: 0;
    border-bottom: 1px solid;
    padding-left: 0;
}

#login form input[type=text]:focus,
#login form input[type=password]:focus {
    outline: none;
    box-shadow: none;
    border-bottom: 2px solid #2e72b8 !important;
}

#login form input[type=submit] {
    background-color: #2e72b8;
    border-color: #2e72b8;
}

#login .dashicons {
    color: #2e72b8;
}

#login #nav, #login #backtoblog {
    margin: 0;
    padding: 0;
    display: inline-block;
}

#login #nav {
    float: right;
}

#login #backtoblog {
    float: left;
}